numpy==1.26.4
requests
jupyterlab
pyspark==3.5.5
PyYAML
ipykernel
boto3==1.24.82
pandas
pymongo[srv]
python-dotenv
pyarrow
plotly
fastparquet
matplotlib
seaborn
nltk
category_encoders
imbalanced-learn
hyperopt
catboost
xgboost
pytest
-e .